@import '../../../shared/styles/vars.css';

.background {
  height: 100%;
  background: url('./images/background.jpg') center top no-repeat;
  background-size: cover;
  position: relative;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  width: 15rem;
}

.login {
  padding: 8px 0;
  margin-top: 1rem;
}

.loginErrorMessage {
  padding-top: 1rem;
}

.loader {
  margin-left: 0.5rem;
}
