<IfModule mod_rewrite.c>
    RewriteEngine On
    # Serve all existing files
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
    RewriteRule ^ - [L]

    # else serve index.html
    RewriteRule ^ /index.html
</IfModule>
