.drawerPaper {
  position: relative;
  height: auto;
  width: 8rem;
  overflow-x: hidden;
  background-color: transparent;
  border-right: none;
  margin-top: 4.5em;
  border: none;
  transition: margin 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.drawerPaperClose {
  width: 55;
}
