@import '../../shared/styles/vars.css';

.background {
  height: 100%;
  background: url('./images/background.jpg') center top no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background-color: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.12) 0 0.0625rem 0.375rem,
    rgba(0, 0, 0, 0.12) 0 0.0625rem 0.25rem;
}

.link {
  display: block;
  text-align: center;
  color: var(--color-grey-600);
  font-size: 0.9rem;
}
